@charset "utf-8";
@import "./reset.css", "./status", "./mixin";


body {
  background-color: #000;
  }
  
#wrap {
  @include varwidth();
  margin: 0 auto;
  
  >.statusbar {
    @include varwidth();
    color: #fff;
    background-color: transparent;
  } //.statusbar

  >header {
    position: absolute;
    top: 24px;
    height: 56px;
    z-index: 100;

    >span {
      margin-left: 30px;
      line-height: 56px;
      color: #fff;
      font-size: 20px;
    }
  } //header

  >section {
    position: absolute;
    @include varwidth();
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
    >img {
      @include varwidth();
    }
  }
}